* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
body {
  background: rgb(3, 0, 31);
  color: white;
  font-family: 'Poppins', sans-serif;
}
.App {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  flex: 3;
  border-right: 1px solid white;
}
.main {
  flex: 9;
}
.logo {
  margin-right: 1rem;
}
.uppersidetop {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}
.upperside {
  border-bottom: 1px solid white;
  padding: 2.5rem;
  height: 70%;
}
.midbtn {
  background: #5A4BFF;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 4rem auto;
  cursor: pointer;
}
.addbtn {
  height: 2rem;
  padding-right: 1rem;
}
.query {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 0.5px solid white;
  color: white;
  cursor: pointer;
}
.query>img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.7rem;
}
.lowerside {
  padding: 2rem;
}
.listicon {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.listicon .logo {
  margin: 0.5rem;
  padding: 0.5rem;
}