* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
body {
  background: rgb(3, 0, 31);
  color: white;
  font-family: 'Poppins', sans-serif;
}
.App {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  flex: 3;
  border-right: 1px solid white;
}
.main {
  flex: 9;
}
.logo {
  margin-right: 1rem;
}
.uppersidetop {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}
.upperside {
  border-bottom: 1px solid white;
  padding: 2.5rem;
  height: 70%;
}
.midbtn {
  background: #5A4BFF;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 4rem auto;
  cursor: pointer;
}
.addbtn {
  height: 2rem;
  padding-right: 1rem;
}
.query {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 0.5px solid white;
  color: white;
  cursor: pointer;
}
.query>img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.7rem;
}
.lowerside {
  padding: 2rem;
}
.listicon {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding-left: 30px;
}
.listicon .logo {
  margin: 0.5rem;
  padding: 0.5rem;
}
.listicon:nth-child(1)>.logo {
  margin-right: 0.5rem !important;
}
.listicon:nth-child(3)>.logo {
  margin-right: 0.75rem !important;
}
.chat img{
  width: 48px;
  height: 48px;
}
.main {
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:  6rem 10rem;
  margin-bottom: 0;
}
.chats {
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh -17rem);
}
.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}
.bot {
  background: rgba(28, 30, 58, 1);
  width: fit-content;
  border-radius: 0.5rem;
}
.chatimg {
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}
.chatfooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inp {
  padding: 0.5rem;
  background: rgba(28, 30, 58, 1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 68rem;
}
.inp>input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}
.inp>input, .send {
  background: transparent;
  border: none;
}
.send img {
  cursor: pointer;
}
.chatfooter>p {
  margin: 2rem 0;
}
